@font-face {
    font-family: titulo;
    src: url(Cambo-Regular.ttf);
}
@font-face {
    font-family: frasesCurtas;
    src: url(OleoScript-Regular.ttf);
}
@font-face {
    font-family: textos;
    src: url(Poppins-Medium.ttf);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color: #5a5a5a;
    overflow-x: hidden;
}
#inicio,#projectos,#sobreNos,#contato{
    min-height: 100vh;
    width: 100vw;
    background-color:#cecece;
}


/*NAV*/
.containerNav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 10px 0px 0px 0px;
    background-color: #f0f8ff;
    z-index: 4;
    transition:box-shadow .3s ease;
}
.containerNav.rolagem{
    box-shadow:0px 4px 12px  #0000001a;
}
.logo{
    padding-bottom: 5px;
    
}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#252525;
    font-weight: 500;
}
.logo h1 span{
    color: #a5b4fc;
    font-family: frasesCurtas;
    font-weight: 700;
}
.containerNav .buttons{
    width: 30%;
    display: flex;
    align-items: end;
    font-family: textos;
}
.BtnNav{
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: background-color border-bottom .3s ease;
}
.BtnNav.active{
    background-color:#c7d2fe;
    border-bottom: 5px solid #c7d2fe;
}
.BtnNav:hover{
    background-color: #a5b4fc;
    border-bottom-color: #a5b4fc;
}
.content {
    display: none;
}
.content.show{
    display:block;   
}
.mobileMenu{
    display: none;
}

@media only screen and (max-width: 1150px){
    .containerNav .buttons{
        width: 300px;
        height: 100vh;
        position: absolute;
        right: -300px;
        top: 0;
        flex-direction: column;
        gap: 25px;
        padding: 55px 10px;
        background-image: linear-gradient(45deg,#826cff, #ff9c78);
        transition: 0.3s ease-in-out;
        
    }
    .BtnNav{
        color: #020617;
        border-radius:8px 0px 0px 8px ;
        transition: 1s ease;
    }
    .mobileMenu{
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 6;
        transition:1s ease;
    }
    .mobileMenu div{
        height: 3px;
        width: 23px;
        border-radius: 4px;
        background-color: #826cff;
    }
    .containerNav.openMenu .buttons{
        right: 0;
        
    }
    .containerNav.openMenu .mobileMenu :nth-child(1){
        display: none;
    }
    .containerNav.openMenu .mobileMenu :nth-child(2){
        transform: rotate(-45deg);
    }
    .containerNav.openMenu .mobileMenu :nth-child(3){
        transform: rotate(45deg);
        margin-top: -6px;
    }
}

/*FOOTER*/
footer{
    height: 300px;
    width: 100%;
    background-color:#000000;
    padding:20px 20px 0px 20px;
    font-family: textos;
}
footer div{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    height: 80%;
    
}
footer div ul{
    list-style: none;
    
}
footer div ul li a{
    padding: 7px;
    margin: 15px;
    color: white;
    text-decoration: none;
}
footer p{
    text-align: center;
    padding: 10px;
    font-weight: 300;
    color: white;
}
footer p a{
    text-decoration: none;
    color: #9885ff;
    font-weight: lighter;
    font-family: textos;
}
footer div a:hover{
    color: #8591ff;
    cursor: pointer;
}
footer p a:hover{
    color: #8591ff;
    cursor: pointer;
}